<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="compactDisc" class="com.hr.serviceImpl.JayZhou"/>
	<bean id="cDPlayer" class="com.hr.serviceImpl.CDPlayer" c:cd-ref = "compactDisc"/>
	<bean id="employe" class="com.hr.serviceImpl.EmpolyeImpl">
		<constructor-arg value="李雷"/>
	</bean>
	<bean id="company" class="com.hr.serviceImpl.CompanyImpl">
		<constructor-arg value="技术部"/>
		<constructor-arg ref="employe"/>
	</bean>
</beans>